
@media(min-width:1600px){
     .header-container.type13 .main-nav ul.menu>li>a { font-size: 18px; }
     .header-container.sticky-header .main-nav ul.menu>li.menu-static-width>a, .header-container.sticky-header .main-nav ul.menu>li.menu-full-width>a, .header-container.sticky-header .main-nav ul.menu>li.menu-item-has-children>a {
    padding-left: 15px !important;
    padding-right: 20px !important;
	}

}

@media(max-width:1599px){
     .header-container.type13 .main-nav ul.menu>li>a { font-size: 14px}
	.header-container.sticky-header .main-nav ul.menu>li.menu-static-width>a, .header-container.sticky-header .main-nav ul.menu>li.menu-full-width>a, .header-container.sticky-header .main-nav ul.menu>li.menu-item-has-children>a {
    padding-left: 15px !important;
    padding-right: 20px !important;
	}

}
@media(max-width:1425px){
	
	.homepage_type13 h2 { margin:50px 0}
	
	#home_section_1.homepage_type13 .circle_trees .circle, 
	#home_section_1.homepage_type13 .home_section_1_content { margin-top:150px}
	#home_section_1.homepage_type13 .circle_trees .circle,
	#home_section_8.homepage_type13 .circle_flowers .circle	{ width:450px;height:450px}
	#home_section_1.homepage_type13 .circle_trees .trees img { width:750px}
	
	#home_section_1.homepage_type13 .stamp_logos, #home_section_1.homepage_type13 .bottom-btn {
		margin-top:10px !important;
		margin-bottom:40px !important;
	}
	
	#home_section_1.homepage_type13 .home_section_1_content,
	#home_section_8.homepage_type13 .tryus_section_content	{ padding:80px 50px 0;min-height:500px}
	#home_section_1.homepage_type13 .home_section_1_content img { max-width: 120px }
	#home_section_1.homepage_type13 h2,
	#home_section_8.homepage_type13 h2	{ font-size:40px; margin:30px 0}
    
    #home_section_5.homepage_type13 .white__box { padding:50px}
	
    #home_section_3.homepage_type13 .nav-tabs>li>a,
	#home_section_1.homepage_type13 .home_section_1_content,
	#home_section_2.homepage_type13 .container p,
	#home_section_4.homepage_type13 .heading__area p,
	#home_section_6.homepage_type13,
	#home_section_7.homepage_type13 .heading__area p,
	#home_section_8.homepage_type13 .tryus_section_content { font-size:18px}
    
    #home_section_1.homepage_type13 .stamp_logos { width: 33.33333333%; margin-left: 33.33333333%}
	
	#home_section_2.homepage_type13 { padding:0 15px 70px}
    #home_section_2.homepage_type13 h2.tm80 { margin-top: 40px !important}
	#home_section_2.homepage_type13 .container iframe { width:800px;height:450px}
	
	#home_section_3.homepage_type13 { padding-top: 0;padding-bottom: 30px}
	#home_section_3.homepage_type13 .tab-content { margin-bottom:30px}
	
	#home_section_4.homepage_type13 { padding-bottom:60px}
	/*#home_section_4.homepage_type13 .shop__box h3 { font-size:35px}*/
	#home_section_4.homepage_type13 .holo__btn { padding:20px}
	
	#home_section_5.homepage_type13 .white__box p { font-size:20px}
	#home_section_5.homepage_type13 .white__box h2 {font-size:65px}
    
    #home_section_7.homepage_type13 .advicer-list .btn { font-size:14px;padding:18px 30px}
	
	#home_section_8.homepage_type13 { min-height:500px;padding-top:60px}
	#home_section_8.homepage_type13:before, #home_section_8.homepage_type13:after { height:700px }
	#home_section_8.homepage_type13 .tryus_section_content { padding-top:20px;}
    #home_section_8.homepage_type13 .tryus_section_content .row { margin-top: 40px}
	#home_section_8.homepage_type13 .tryus_section_content .row a { font-size:12px;padding-top:14px;padding-bottom:14px; margin-bottom: 0}
	#home_section_8.homepage_type13 .tryus_section_content .col-md-offset-3 { padding-left:50px;padding-right:50px}
	#home_section_8.homepage_type13 .circle_flowers .lt-flowers, 
	#home_section_8.homepage_type13 .circle_flowers .rt-flowers { width:500px}
	
	#home_section_8.homepage_type13 .circle_flowers .flowers { width:1000px}
    #home_section_8.homepage_type13 .try-our-range { width:33.33333333%; margin-left: 33.33333333% }
    #home_section_8.homepage_type13 .tryus_section_content .row { margin-top: 40px}
    
    .footer-middle .block:nth-of-type(1) #collapse05 ul li a { font-size:22px;width:50px;height:50px;line-height:50px} 
	
}

@media(max-width:1280px){
 
	.header-container.type13 .main-nav ul.menu>li>a { font-size: 14px}
	.header-container.sticky-header .main-nav ul.menu>li.menu-static-width>a, .header-container.sticky-header .main-nav ul.menu>li.menu-full-width>a, .header-container.sticky-header .main-nav ul.menu>li.menu-item-has-children>a {
		padding-left: 2px !important;
		padding-right: 15px !important;
	}
	
	.sticky-logo { margin-right: 2px; }
	
	 
	#home_section_4.homepage_type13 .holo__btn { padding: 20px; }
	#home_section_4.homepage_type13 .shop__box { margin-bottom: 20px; }
	#home_section_3.homepage_type13 .actions .btn { font-size: 11px; padding: 0 5px; }
	.header-container.type13 .menu-icon { margin-top: 10px !important }    
    
    
    #home_section_1.homepage_type13 .home_section_1_content, 
    #home_section_8.homepage_type13 .tryus_section_content { min-height: 500px}
    
    #home_section_1.homepage_type13 .home_section_1_content, 
    #home_section_8.homepage_type13 .tryus_section_content { padding: 80px 50px 0}
   
    
    #home_section_1.homepage_type13 .home_section_1_content, #home_section_2.homepage_type13 .container p, #home_section_4.homepage_type13 .heading__area p, #home_section_6.homepage_type13, #home_section_7.homepage_type13 .heading__area p, #home_section_8.homepage_type13 .tryus_section_content { font-size: 16px}
    
    #home_section_5.homepage_type13 .white__box .btn { margin-top: 20px !important}
    
    #home_section_2.homepage_type13 .container iframe { width:720px;height:405px}
    
    /*#home_section_4.homepage_type13 .container,
    #home_section_7.homepage_type13 .container{ width: 1050px}*/
    
    #home_section_5.homepage_type13 .white__box h2 { font-size: 55px; margin: 0 0 7px}
    
    .homepage_type13 h2,
    #home_section_1.homepage_type13 h2, #home_section_8.homepage_type13 h2,
    #home_section_7.homepage_type13 .heading__area h2,
    #home_section_7.homepage_type13 .advicer-list .advice-desc,
    #home_section_4.homepage_type13 .shop__box h3 { font-size: 35px}
    
    #home_section_4.homepage_type13 .shop__box h3 { margin: 10px 0 20px}
    
    #home_section_6.homepage_type13 .container > div:nth-child(2) { min-height: 450px}
    
    #home_section_4.homepage_type13 .holo__btn,
    #home_section_5.homepage_type13 .white__box .btn,
    #home_section_6.homepage_type13 .btn,
    #home_section_8.homepage_type13 .tryus_section_content .row a { font-size: 12px;padding: 18px 40px}
    
    #home_section_4.homepage_type13 .holo__btn,
    #home_section_8.homepage_type13 .tryus_section_content .row a { padding: 18px 10px}
    
    
	
    .footer-middle .block:nth-of-type(1) #collapse05 ul li a { font-size:18px;width:40px;height:40px;line-height:40px}
    
    .footer-bottom a.logo { margin-right: 0}
    .footer-bottom a.logo img { max-width: 100%}
    .footer-bottom address { font-size: 12px;padding: 0}
    
   /* #home_section_7.homepage_type13 .advicer-list > .row > div { flex-wrap: nowrap}*/
    
    #home_section_8.homepage_type13 { padding-top:0}
    #home_section_8.homepage_type13 .try-our-range { width: 40%; margin-left: 30%;}
    #home_section_5.homepage_type13 .white__box { padding: 30px 40px 40px}
    #home_section_8.homepage_type13 .tryus_section_content .row a { margin-bottom: 0}
    
	

}

@media(max-width:1198px){
    #home_section_1.homepage_type13 .stamp_logos { width:40%; margin-left:30%;}
}

@media all and (min-device-width:768px) and (max-device-width:1024px) {
   
}

@media(max-width:1024px){
       
    #home_section_1.homepage_type13 .circle_trees .circle, 
    #home_section_8.homepage_type13 .circle_flowers .circle { width:450px;height: 450px }	
    
    #home_section_1.homepage_type13 .circle_trees .circle, 
    #home_section_1.homepage_type13 .home_section_1_content { margin-top: 150px; }
    #home_section_1.homepage_type13 .circle_trees .trees img { width: 700px}
    
	.header-container.type13 .header .logo { margin-bottom:20px ; text-align: center; }
    
    #home_section_8.homepage_type13 { padding-top:0;min-height:500px;}
    #home_section_8.homepage_type13 h2 { margin-bottom: 10px}
    #home_section_8.homepage_type13 .circle_flowers .flowers { width: 750px; bottom: -80px}
    #home_section_8.homepage_type13 .circle_flowers .lt-flowers, 
    #home_section_8.homepage_type13 .circle_flowers .rt-flowers { width: 350px}
    #home_section_8.homepage_type13 .tryus_section_content .row { margin-top: 30px}
    #home_section_8.homepage_type13 .tryus_section_content .row a { margin-bottom:0}
    #home_section_8.homepage_type13 .tryus_section_content { min-height: 480px}
    #home_section_8.homepage_type13:before, #home_section_8.homepage_type13:after { height: 500px;}
    
}

@media(max-width:991px){
	#home_section_6.homepage_type13 .container > div:nth-child(1) { position: relative; }
	#home_section_6.homepage_type13 { padding-bottom: 0;  }
    #home_section_2.homepage_type13 .container iframe { width: 560px; height:315px}
    #home_section_4.homepage_type13 .shop__box h3 { padding:0 20px}
    
    #home_section_3.homepage_type13 .product__bottom > .row { flex-direction: column}
    #home_section_3.homepage_type13 .actions .btn { margin-bottom:10px;font-size: 14px}
    
    #home_section_6.homepage_type13 { padding-bottom: 80px}
    #home_section_6.homepage_type13 .container > div:nth-child(2) { min-height: 250px}
    #home_section_6.homepage_type13 .container > div:nth-child(2):after { content: none}
    
    #home_section_7.homepage_type13 .advicer-list .see-what { font-size: 14px}
    #home_section_7.homepage_type13 .advicer-list .advice-desc { font-size:32px}
    
    #home_section_7.homepage_type13 .advicer-list > .row > div { flex-wrap: wrap}
}